.MenuComponent {
  z-index: 10; }
  .MenuComponent .menu-icon, .MenuComponent .menu-close-icon {
    position: absolute;
    top: 8vw;
    right: 4vw;
    transition: 0.5s; }
    .MenuComponent .menu-icon:hover, .MenuComponent .menu-close-icon:hover {
      opacity: 0.5; }
  .MenuComponent .nav-overlay {
    background: #54608A;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0.97;
    display: none; }
    .MenuComponent .nav-overlay.active {
      display: flex;
      z-index: 1; }
    .MenuComponent .nav-overlay .menu {
      font-size: 3em;
      flex-direction: column;
      align-items: center;
      overflow: hidden; }
      .MenuComponent .nav-overlay .menu ul {
        list-style-type: none;
        padding: 0; }
        .MenuComponent .nav-overlay .menu ul li {
          display: flex;
          justify-content: center; }
      .MenuComponent .nav-overlay .menu a {
        color: #D8D8C3;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        transition: 0.5s;
        text-align: center;
        font-family: "Montserrat", sans-serif; }
        .MenuComponent .nav-overlay .menu a:hover, .MenuComponent .nav-overlay .menu a.active {
          color: #F5C255; }
          .MenuComponent .nav-overlay .menu a:hover.active:after, .MenuComponent .nav-overlay .menu a.active.active:after {
            content: "";
            background: #050707;
            width: 120%;
            height: 12px;
            display: block;
            position: absolute;
            top: 52%;
            margin-left: -10%;
            z-index: -1; }
