@import "../../vars-mixins.scss";

.MenuComponent {
  z-index: 10;

  .menu-icon, .menu-close-icon {
    position: absolute;
    top: $body-padding*2;
    right: $body-padding;
    transition: 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }

  .nav-overlay {
    background: $dark-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0.97;
    display: none;
    &.active {
      display: flex;
      z-index: 1;
    }

    .menu {
      font-size: 3em;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      ul {
        list-style-type: none;
        padding: 0;

        li {
          display: flex;
          justify-content: center;
        }
      }

      a {
        color: $light-color;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        transition: 0.5s;
        text-align: center;
        font-family: $title-text;
        &:hover, &.active {
          color: $feature-color;
            &.active {
                &:after {
                  content: "";
                  background: $extra-dark-color;
                  width: 120%;
                  height: 12px;
                  display: block;
                  position: absolute;
                  top: 52%;
                  margin-left: -10%;
                  z-index: -1;
                  // filter: blur(1px);
                }
              }
            }
          }
        }
    }
}
