.Filter {
  background: #54608A;
  color: #D8D8C3;
  padding: 8vw 4vw; }
  .Filter h5 {
    margin: 0; }
    .Filter h5 span {
      margin-right: 4vw;
      position: relative;
      z-index: 0; }
      .Filter h5 span:hover {
        color: #F5C255; }
      .Filter h5 span:hover:before {
        content: '';
        height: 1vh;
        width: 100%;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        background: #050707;
        z-index: -1; }
