@import "../../../vars-mixins.scss";

.Filter {
  background: $dark-color;
  color: $light-color;
  padding: $body-padding * 2 $body-padding;

  h5 {
    margin: 0;

    span {
      margin-right: $body-padding;
      position: relative;
      z-index: 0;

      &:hover {
        color: $feature-color;
      }
      &:hover:before {
        content: '';
        height: 1vh;
        width: 100%;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        background: $extra-dark-color;
        z-index: -1;
      }
    }
  }
}
