html, body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  font-size: 4vw;
  background: #D8D8C3; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

h3 {
  font-size: 4vw; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12vh 4vw 0 4vw;
  margin: 0 auto; }

@-webkit-keyframes floating {
  0% {
    top: 5px; }
  55% {
    top: 0px; }
  100% {
    top: 5px; } }

@keyframes spin {
  100% {
    transform: scale(2) rotate(360deg); } }
