@import "../../vars-mixins.scss";

html, body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body-text;
  min-height: 100%;
  overflow-x: hidden;
  font-size: 4vw;
  background: $light-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-text;
  text-transform: uppercase;
}

h3 {
  font-size: $h3-size;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12vh $body-padding 0 $body-padding;
  margin: 0 auto;
}

@-webkit-keyframes floating {
  0% {
    top: 5px;
  }
  55% {
    top: 0px;
  }
  100% {
    top: 5px;
  }
}

@keyframes spin {
  100% {
    transform:scale(2) rotate(360deg);
  }
}
