@import "../../../vars-mixins.scss";

.ListItem {
  background: $dark-color;
  color: $light-color;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 1;
  border-bottom: 1px dashed rgba($light-color, 0.5);

  &:hover {
    color: $feature-color;
  }

  span {
    padding: $body-padding;
    flex: 15;
  }

  .add-to-favourites {
    align-self: flex-end;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $feature-color;
    font-size: $h3-size;

    &:hover {
      color: $light-color;
      animation:spin 0.5s ease-in-out;
    }
  }
}
