.ListItem {
  background: #54608A;
  color: #D8D8C3;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 1;
  border-bottom: 1px dashed rgba(216, 216, 195, 0.5); }
  .ListItem:hover {
    color: #F5C255; }
  .ListItem span {
    padding: 4vw;
    flex: 15; }
  .ListItem .add-to-favourites {
    align-self: flex-end;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5C255;
    font-size: 4vw; }
    .ListItem .add-to-favourites:hover {
      color: #D8D8C3;
      animation: spin 0.5s ease-in-out; }
