@import "../../../vars-mixins.scss";

.LoadingContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: $light-color;
  color: $dark-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h3 {
    padding: 0 10vw;
  }

  img {
    width: 30vw;
    min-width: 200px;
    max-width: 400px;
    position: relative;
    -webkit-animation: floating 2s infinite  normal ease-out;
    animation: floating 2s infinite  normal ease-out;
  }
}
