.LoadingContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #D8D8C3;
  color: #54608A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .LoadingContainer h3 {
    padding: 0 10vw; }
  .LoadingContainer img {
    width: 30vw;
    min-width: 200px;
    max-width: 400px;
    position: relative;
    -webkit-animation: floating 2s infinite  normal ease-out;
    animation: floating 2s infinite  normal ease-out; }
