$extra-dark-color: #050707;
$dark-color: #54608A;
$light-color: #D8D8C3;
$feature-color: #F5C255;

$title-text: 'Montserrat', sans-serif;
$body-text: 'Open Sans', sans-serif;

$h3-size: 4vw;

$body-padding: 4vw;


// Media query mixin
$breakpoints: (
    "phone":        400px,
    "tablet":       768px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
